{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :exec-fn kaocha.runner/exec-fn
         :main-opts ["-m" "kaocha.runner"]
         :exec-args {}}}}
